## Getting familiar with Pandas

In [1]:
## Pandas 
# there are several ways to change a column in a dataframe
# A short intro to pandas https://pandas.pydata.org/pandas-docs/stable/10min.html

import pandas as pd
import numpy as np
import random

In [2]:
# First step: make the dataframe
dates = pd.date_range('20130101', '20140101') #366
data = pd.DataFrame(np.random.randn(366,4), index=dates, columns=list('ABCD'))

### Exercise 1.1: Inspect the dataframe with the following commands: head(), tail(), describe.

In [3]:
# Solution
data.describe()

                A           B           C           D
count  366.000000  366.000000  366.000000  366.000000
mean    -0.036381    0.034370    0.119817    0.026848
std      1.011570    1.069676    1.037555    0.964123
min     -2.353734   -2.947034   -2.775677   -3.287903
25%     -0.690233   -0.638400   -0.577498   -0.536976
50%      0.008014    0.047850    0.103632    0.046690
75%      0.599405    0.723030    0.766632    0.564834
max      3.192566    3.196623    3.705185    2.505415

In [4]:
data.head()

                   A         B         C         D
2013-01-01 -0.889781  0.854188 -0.422308 -0.084694
2013-01-02  0.275157  0.276746  0.404201 -0.902858
2013-01-03  1.084111  1.310438  1.034225 -1.893354
2013-01-04 -0.477575 -0.788139 -0.901730 -0.462532
2013-01-05  1.271058  0.785170  2.402065 -1.235721

In [5]:
data.tail()

                   A         B         C         D
2013-12-28  0.671140 -1.280898  1.118919 -0.523506
2013-12-29 -0.593917 -0.025608 -1.087448  0.725363
2013-12-30 -1.558035 -0.318386  1.722074  0.735302
2013-12-31  1.374431 -0.570479 -0.548834  0.353702
2014-01-01 -0.540465 -0.950364  2.662130 -1.183609

### Exercise 1.2:  The index is a time series, and pandas has a build-in command for re-sampling dataframes (documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html).  Use resample to get the median every 2 days and save this as a new dataframe.

In [6]:
#Solution: 
resampled_data =data.resample('2D').median()
resampled_data.head()

                   A         B         C         D
2013-01-01 -0.307312  0.565467 -0.009054 -0.493776
2013-01-03  0.303268  0.261150  0.066248 -1.177943
2013-01-05  0.334206  0.839019  1.357571 -0.543213
2013-01-07 -0.142962 -0.681733 -0.080323  0.026288
2013-01-09  0.025724  0.221684 -0.772663 -0.328429

### Exercise 1.3: Inspect the new dataframe to see the difference in size compared to the inital dataframe.

In [7]:
#Solution: 
resampled_data.describe()

                A           B           C           D
count  183.000000  183.000000  183.000000  183.000000
mean    -0.036381    0.034370    0.119817    0.026848
std      0.719483    0.799903    0.711247    0.667704
min     -1.765129   -1.853094   -1.819183   -1.542612
25%     -0.474632   -0.486688   -0.385589   -0.414920
50%     -0.139929    0.038673    0.075352   -0.014117
75%      0.430259    0.547386    0.585426    0.550285
max      2.721203    2.404576    2.477915    1.650828

### Exercise 1.4:  Write your new dataframe to a csv file.

In [8]:
#Solution: 
resampled_data.to_csv('resampled_data')

### Exercise 1.5: Merge the two dataframes. There are several ways to do this, see also https://pandas.pydata.org/pandas-docs/stable/merging.html.

In [9]:
# Solution
resampled_data.merge(data,how='inner',right_index=True,left_index=True).head()

,A_x,B_x,C_x,D_x,A_y,B_y,C_y,D_y
2013-01-01,-0.307312,0.565467,-0.009054,-0.493776,-0.889781,0.854188,-0.422308,-0.084694
2013-01-03,0.303268,0.261150,0.066248,-1.177943,1.084111,1.310438,1.034225,-1.893354
2013-01-05,0.334206,0.839019,1.357571,-0.543213,1.271058,0.785170,2.402065,-1.235721
2013-01-07,-0.142962,-0.681733,-0.080323,0.026288,-0.558509,-0.124889,0.417077,0.114801
2013-01-09,0.025724,0.221684,-0.772663,-0.328429,0.224460,0.114252,0.229597,0.105428

### Exercise 1.6: There are several ways to perform actions on the dataframe columns. The dataframe has several columns containing negative values. For this exercise, find these negative values on a column, and create a new column with their absolute value, using a list comprehension, and after this, using a lambda function. You can use the magic timeit to see if there is a difference between these operations.

In [10]:
data.head()

                   A         B         C         D
2013-01-01 -0.889781  0.854188 -0.422308 -0.084694
2013-01-02  0.275157  0.276746  0.404201 -0.902858
2013-01-03  1.084111  1.310438  1.034225 -1.893354
2013-01-04 -0.477575 -0.788139 -0.901730 -0.462532
2013-01-05  1.271058  0.785170  2.402065 -1.235721

In [11]:
# Solution
# method 1: list comprehension
%timeit data.A = [abs(x) for x in data.A.tolist()]
data.head()

318 µs ± 28.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

                   A         B         C         D
2013-01-01  0.889781  0.854188 -0.422308 -0.084694
2013-01-02  0.275157  0.276746  0.404201 -0.902858
2013-01-03  1.084111  1.310438  1.034225 -1.893354
2013-01-04  0.477575 -0.788139 -0.901730 -0.462532
2013-01-05  1.271058  0.785170  2.402065 -1.235721

In [12]:
# Solution
# method 2: lambda function
%timeit data.B = data.B.apply(lambda x : abs(x))
data.head()

563 µs ± 79.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

                   A         B         C         D
2013-01-01  0.889781  0.854188 -0.422308 -0.084694
2013-01-02  0.275157  0.276746  0.404201 -0.902858
2013-01-03  1.084111  1.310438  1.034225 -1.893354
2013-01-04  0.477575  0.788139 -0.901730 -0.462532
2013-01-05  1.271058  0.785170  2.402065 -1.235721

## Supervised learning using scikit-learn - Classification of MNIST data

### Exercise 2.1: Download the digit ('MNIST original') dataset from  mldata.org, which is a public repository for machine learning data. Divide the data into training and testing. Please use 1/7 for training and the rest for testing. 

Hint: The sklearn.datasets package is able to directly download data sets from the repository using the function sklearn.datasets.fetch_mldata. Generate the training and testing set by importing train_test_split from sklearn.model_selection

In [ ]:
# Solution

import sklearn 
from sklearn.datasets import fetch_mldata

# Download the MNIST original dataset

from sklearn.model_selection import train_test_split

# Split the images into training and testing

### Exercise 2.2: The optimal performance of many machine learning algorithms is affected by scale. Typically, you need to scale the features in your data before applying any algorithm. Normalize the data and plot some random images from the dataset.  

Hint: Use StandardScaler from sklearn.preprocessing to help you standardize the dataset’s features onto unit scale (mean = 0 and variance = 1)

In [ ]:
# Solution

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit on training set only

# Apply transform to both the training set and the test set

In [ ]:
# Solution (Visualization)
%matplotlib inline

import matplotlib.pyplot as plt

### Exercise 2.3: Logistic regression is one of the simplest linear classification algorithms. Fit a logistic regression model to the training images. Compute the accuracy of the classifier on the test images, and the time needed to train the model.¶

Hint: Use LogisticRegression from sklearn.linear_model. To increase speed, change the default solver to 'lbfgs'

In [ ]:
# Solution

from time import time
from sklearn.linear_model import LogisticRegression

tic = time()
# Fit a linear regression model

# Compute the classification score

toc = time()
print('The total time is %s seconds ' % (toc-tic))

### Exercise 2.4: Apply Principle Component Analysis (PCA) to the training signals by keeping only (a) 25%, (b) 75%, and (c) 95% of the energy. For each of the three cases, output the number of the required principle components.Then, plot the Cumulative Explained Variance over PCA. Finally, choose a random image from the dataset, and show its approximation with the PCA components. 

Hint: For computing the Cumulative Explained Variance over PCA use:
```
pca.explained_variance_ratio_.cumsum()

```

In [ ]:
# Solution 
from sklearn.decomposition import PCA

# Fit a PCA model

# Compute the number of PCA components

In [ ]:
# Plot the Cumulative Explained Variance over PCA

In [ ]:
# Choose a random image from the dataset, and show its approximation with the PCA components

plt.figure(figsize=(8,4));

# Original Image
plt.subplot(1, 2, 1);

# Approximation
plt.subplot(1, 2, 2);

### Exercise 2.5: Fit a logistic regression model to the approximation of the training images with 95% of explained variance. Compute the accuracy of the classifier and the time needed to train the model. Compare it to the one obtained in 2.3. What do you observe?

In [ ]:
# Solution

tic = time()

# Fit a logistic regression model on the PCA coefficients

toc = time()

print('The total time is %s seconds' % (toc-tic))

## Unsupervised learning with sklearn.cluster.KMeans()

###  Exercise 3.1: Generate a set of 6 isotropic Gaussian blobs, with 1000 samples each. Each sample should have 60 features. 

Hint: Use the sklearn.datasets.make_blobs to generate the data

In [ ]:
# Solution

from sklearn.cluster import KMeans
from sklearn.datasets.samples_generator import make_blobs

# Generate the data

###  Exercise 3.2: Apply PCA to the generated data. Store the first two principle components and their cluster index to a new dataframe.  Visualize the 6 blobs based only on these two components.

In [ ]:
# Solution

# Fit PCA to the data

# Generate a new dataframe and store the first two Principle Components and the true cluster index

# Vizualize the data by plotting their representation on the two Principle Components (x and y axis)

### Exercise 3.3: Set the number of clusters to 6 and apply Kmeans clustering to the data. Compute the accuracy score between the true labels and the ones estimated by the Kmeans algorithm.

In [ ]:
# Solution

from sklearn.cluster import KMeans

# Fit a Kmean model to the data

from scipy.stats import mode

# Uncomment this part to compute the accuracy score
#  y_true: the true cluster index
#  y_kmeans: the cluster index assigned by Kmeans

"""
labels = np.zeros_like(y_true)
for i in range(6):
    mask = (y_kmeans == i)
    labels[mask] = mode(y_true[mask])[0]
    
from sklearn.metrics import accuracy_score
accuracy_score(y_true, labels)
"""

### Exercise 3.4: Do the same by clustering the data using only the first 2 principle components. What do you observe?

In [ ]:
# Solution

# Fit a Kmeans model to the first 2 PCA coefficients of the data

# Uncomment this part to compute the accuracy score
# y_true: the true cluster index
# y_kmeans: the cluster index assigned by Kmeans

"""
labels = np.zeros_like(y_true)
for i in range(6):
    mask = (y_kmeans == i)
    labels[mask] = mode(y_true[mask])[0]
    
accuracy_score(y_true, labels)
"""